<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniu.dao.mapper.GodsMapper" >
    <update id="updateGods" parameterType="com.woniu.dao.entity.Gods">
        update gods
        <set>
            <if test="godsName!=null">
                gods_name = #{godsName},
            </if>
            <if test="godsPrice!=null">
                gods_price = #{godsPrice}
            </if>
            <if test="godsPrice!=null">
                gods_detail = #{godsDetail}
            </if>
        </set>

    </update>
</mapper>
